argh==0.26.2
awesome-slugify==1.6.5
Babel==2.7.0
backoff==1.10.0
backports-abc==0.5
backports.csv==1.0.7
Bed-Visualizer==0.1.13
blinker==1.4
cachelib==0.1
certifi==2019.9.11
chainmap==1.0.3
chardet==3.0.4
Click==7.0
contextlib2==0.6.0.post1
DisplayLayerProgress==1.21.0
emoji==0.5.4
feedparser==5.2.1
filetype==1.0.5
Flask==0.12.5
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-Login==0.4.1
Flask-Principal==0.4.0
frozendict==1.2
future==0.18.2
futures==3.3.0
humanfriendly==8.1
idna==2.8
intelhex==2.2.1
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.8.1
LayerDisplay==0.4.3
logging==0.4.9.6
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.21.0
monotonic==1.5
netaddr==0.7.19
netifaces==0.10.9
numpy==1.16.6
OctoKlipper==0.2.5
OctoPrint==1.4.0
OctoPrint-Autoscroll==0.0.3
OctoPrint-BetterHeaterTimeout==1.2.0
OctoPrint-Cancelobject==0.4.1
OctoPrint-CostEstimation==2.1.3
OctoPrint-Dashboard==1.12.2
OctoPrint-FileManager==0.1.4
OctoPrint-FloatingNavbar==0.3.1
OctoPrint-GcodeEditor==0.2.8
OctoPrint-NavbarTemp==0.14
OctoPrint-PrintTimeGenius==2.2.2
OctoPrint-Progress-Title==0.1.0
OctoPrint-Resource-Monitor==0.2.3
OctoPrint-SimpleEmergencyStop==1.0.1
OctoPrint-TabOrder==0.5.7
pathtools==0.1.2
picamera==1.13
Pillow==6.2.2
pkg-resources==0.0.0
pkginfo==1.5.0.1
psutil==5.6.7
pyasn1==0.4.7
pybonjour==1.1.1
pyduinocli==0.7.0
pylru==1.2.0
pyserial==3.4
pytz==2019.3
PyYAML==5.1.2
raven==6.10.0
regex==2019.8.19
requests==2.22.0
RPi.GPIO==0.7.0
rsa==4.0
sarge==0.1.5.post0
scandir==1.10.0
semantic-version==2.8.4
sentry-sdk==0.13.2
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.1.18
tornado==4.5.3
TouchUI==0.3.14
typing==3.7.4.1
Unidecode==0.4.21
uritools==2.1.1
urllib3==1.25.6
watchdog==0.9.0
webassets==0.12.1
websocket-client==0.56.0
Werkzeug==0.16.1
wrapt==1.11.2
zipfile2==0.0.12
