awesome-slugify==1.6.5
Babel==2.8.0
Backup-Scheduler @ https://github.com/jneilliii/OctoPrint-BackupScheduler/archive/0.0.3.zip
Bed-Leveling-Wizard @ https://github.com/jneilliii/OctoPrint-BedLevelingWizard/archive/master.zip
Bed-Visualizer @ https://github.com/jneilliii/OctoPrint-BedLevelVisualizer/archive/0.1.15.zip
blinker==1.4
cachelib==0.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Consolidate-Temp-Control @ https://github.com/jneilliii/OctoPrint-ConsolidateTempControl/archive/master.zip
Consolidated-Tabs @ file:///tmp/tmpqnc9an3l/OctoPrint-ConsolidatedTabs-master.zip
DisplayLayerProgress @ https://github.com/OllisGit/OctoPrint-DisplayLayerProgress/releases/latest/download/master.zip
emoji==0.6.0
feedparser==5.2.1
file-read-backwards==2.0.0
filetype==1.0.7
Flask==1.1.2
Flask-Assets==2.0
Flask-Babel==1.0.0
Flask-Login==0.5.0
frozendict==1.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
LayerDisplay @ https://github.com/chatrat12/layerdisplay/archive/master.zip
Markdown==3.1.1
MarkupSafe==1.1.1
netaddr==0.8.0
netifaces==0.10.9
numpy==1.19.2
OctoKlipper @ https://github.com/AliceGrey/OctoprintKlipperPlugin/archive/0.3.2.zip
Octolapse @ https://github.com/FormerLurker/Octolapse/archive/v0.4.0.zip
OctoPrint==1.4.2
OctoPrint-Autoscroll @ https://github.com/MoonshineSG/OctoPrint-Autoscroll/archive/master.zip
OctoPrint-BetterHeaterTimeout @ https://github.com/tjjfvi/OctoPrint-BetterHeaterTimeout/archive/master.zip
OctoPrint-Cancelobject @ https://github.com/paukstelis/OctoPrint-Cancelobject/archive/master.zip
OctoPrint-CooldownNotification @ file:///tmp/tmpta_g9mws/OctoPrint-CooldownNotification-master.zip
OctoPrint-CostEstimation @ https://github.com/OllisGit/OctoPrint-CostEstimation/releases/latest/download/master.zip
OctoPrint-DragonOrder @ https://github.com/jneilliii/OctoPrint-DragonOrder/archive/master.zip
OctoPrint-Enclosure @ https://github.com/vitormhenrique/OctoPrint-Enclosure/archive/master.zip
OctoPrint-FileCheck==2020.8.7
OctoPrint-FileManager @ https://github.com/Salandora/OctoPrint-FileManager/archive/master.zip
OctoPrint-FirmwareCheck==2020.9.23
OctoPrint-FloatingNavbar @ https://github.com/jneilliii/OctoPrint-FloatingNavbar/archive/master.zip
OctoPrint-Gcodebar @ https://github.com/mtowara/OctoPrint-Gcodebar/archive/master.zip
OctoPrint-GcodeEditor @ https://github.com/ieatacid/OctoPrint-GcodeEditor/archive/master.zip
OctoPrint-NavbarTemp @ https://github.com/imrahil/OctoPrint-NavbarTemp/archive/master.zip
OctoPrint-PrettyGCode @ file:///tmp/tmpytlic_jy/OctoPrint-PrettyGCode-master.zip
OctoPrint-PrintTimeGenius @ https://github.com/eyal0/OctoPrint-PrintTimeGenius/archive/master.zip
OctoPrint-PrintTrack @ file:///tmp/tmp6azmpqyz/OctoPrint-PrintTrack-master.zip
OctoPrint-Progress-Title @ https://github.com/pwnbus/OctoPrint-Progress-Title/archive/master.zip
OctoPrint-ProgressBasedOnTime @ file:///tmp/tmpmbmcb8x2/OctoPrint-ProgressBasedOnTime-master.zip
OctoPrint-Resource-Monitor @ https://github.com/Renaud11232/OctoPrint-Resource-Monitor/archive/master.zip
OctoPrint-SimpleEmergencyStop @ https://github.com/Sebclem/OctoPrint-SimpleEmergencyStop/archive/master.zip
OctoPrint-SystemCommandEditor @ file:///tmp/tmpmyfrjlhw/OctoPrint-SystemCommandEditor-master.zip
OctoPrint-TabOrder @ https://github.com/jneilliii/OctoPrint-TabOrder/archive/master.zip
OctoPrint-WiFiStatus @ file:///tmp/tmpu29v2o9x/OctoPrint-WiFiStatus-master.zip
pathtools==0.1.2
peewee==3.13.3
Pillow==8.1.1
pkg-resources==0.0.0
pkginfo==1.5.0.1
Print-Job-History @ file:///tmp/tmpvob8t265/master.zip
psutil==5.7.2
pyasn1==0.4.8
pylru==1.2.0
pyserial==3.4
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
RPi.GPIO==0.7.0
rsa==4.0
sarge==0.1.5.post0
semantic-version==2.8.5
sentry-sdk==0.17.8
six==1.15.0
tornado==5.1.1
TouchUI @ https://github.com/BillyBlaze/OctoPrint-TouchUI/archive/master.zip
Unidecode==0.4.21
urllib3==1.25.10
watchdog==0.10.3
webassets==2.0
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
