# INFO
#   base: Ender 3 Pro
#   direct drive: printermods mdd v1.2
#   cooling hotend/part: Hero Me 4 - noctua 41x20mm, 5015 
#   hotend: E3D V6
#   extruder: EZR Struder
#   ABL: BLTouch
#   Rails: Linear Rails printermods linear rail kit- x,y
#       v-slot wheels - z
#
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFD2054242363129712357-if00

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
step_distance: .0125
endstop_pin: ^PC0
position_min: 0
position_endstop: 0
position_max: 235
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PB15
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
step_distance: .0125
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC6
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0025
endstop_pin:probe:z_virtual_endstop
#endstop_pin: ^PC2
#position_endstop: 0.0
position_max: 250
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC10
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 5

[extruder]
step_pin: PB3
dir_pin: PB4
#dir_pin: !PB4
enable_pin: !PD2
step_distance: 0.0104632
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
#sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -50
max_temp: 300 
# !!!! pressure_advance here !!!1
pressure_advance: 0.0655
min_extrude_temp: 0 
max_extrude_only_distance: 1000000
#max_extrude_only_distance: 100

[tmc2209 extruder]
uart_pin: PC11
microsteps: 16
#  Rsense for tmc2209 = 0.11 Ohm
# VREF = (rated_amps * 8 * Rsense) * safety_margin(.90)
#  = ((1.0) * 8 * (.11)) 
#  = .88 * (.90)
#  = .792
#run_current: 0.8
run_current: 0.65
hold_current: 0.500
# default ender 3  extruder stepper:

stealthchop_threshold: 5


[safe_z_home]
home_xy_position: 150,145
#home_xy_position: 105,135
speed: 100
z_hop: 10
z_hop_speed: 10

[bltouch]
sensor_pin: ^PC14#  ^PC2 ;mine uses the Z pin for sensor
control_pin: PA1
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True  
x_offset: -50
y_offset: -10
pin_move_time: 0.4
samples: 2
sample_retract_dist: 3.0

[bed_mesh]
speed: 100
horizontal_move_z: 5.0
probe_count: 4,4 
fade_start: 1.0
mesh_pps: 2,2
mesh_min: 15,35
mesh_max: 185,195

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 130

[verify_heater extruder]
heating_gain: 2
check_gain_time: 60
hysteresis: 5
max_error: 240

[fan]
pin: PA8

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    #SAVE_CONFIG
    #G1 X0 Y0 Z4 F4000
[gcode_macro START_PRINT]
#default_parameter_BED_TEMP: 70
#default_parameter_EXTRUDER_TEMP: 215
gcode:
    # Reset extruder
    G92 E0
    # Start bed heating
    M140 S{material_bed_temperature_layer_0} ; wait for bed final temp
    #M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    BED_MESH_CALIBRATE
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    G92 E0; Reset extruder
    # Disable steppers
    M84

#[display]
#lcd_type: st7920
#cs_pin: EXP1_7
#sclk_pin: EXP1_6
#sid_pin: EXP1_8
#encoder_pins: ^EXP1_5, ^EXP1_3
#click_pin: ^!EXP1_2
#
#[output_pin beeper]
#pin: EXP1_1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.120
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -1.047500, -0.702500, -0.367500, -0.060000, 0.282500
#*# 	  -0.857500, -0.522500, -0.195000, 0.117500, 0.462500
#*# 	  -0.740000, -0.412500, -0.080000, 0.232500, 0.587500
#*# 	  -0.635000, -0.295000, 0.047500, 0.367500, 0.730000
#*# 	  -0.622500, -0.247500, 0.110000, 0.472500, 0.850000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0000000001
#*# max_x = 185.0
#*# min_y = 35.0000000001
#*# max_y = 195.0
#*#
#*# [stepper_z]
#*# position_endstop = 0.650
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.631
#*# pid_ki = 1.978
#*# pid_kd = 578.244
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.114
#*# pid_ki = 1.444
#*# pid_kd = 156.970
