# INFO
#   base: Ender 3 Pro
#   direct drive: printermods mdd v1.2
#   cooling hotend/part: Hero Me 4 - noctua 41x20mm, 5015 
#   hotend: E3D V6
#   extruder: EZR Struder
#   ABL: BLTouch
#   Rails: Linear Rails printermods linear rail kit- x,y
#       v-slot wheels - z
#
[mcu]
serial = /dev/ttyAMA0
restart_method = command

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
step_distance: .0125
endstop_pin: ^PC0
position_min: 0
position_endstop: 0
position_max: 280
homing_speed: 75

[tmc2209 stepper_x]
uart_pin: PB15
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
step_distance: .0125
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 250
homing_speed: 75

[tmc2209 stepper_y]
uart_pin: PC6
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0025
endstop_pin:probe:z_virtual_endstop
#endstop_pin: ^PC2
#position_endstop: 0.0
position_max: 250
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC10
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 5

[extruder]
step_pin: PB3
dir_pin: PB4
# dir_pin: !PB4
enable_pin: !PD2
step_distance: 0.0104632
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -50
max_temp: 300 
# !!!! pressure_advance here !!!1
pressure_advance: 0.25
min_extrude_temp: 0 
max_extrude_only_distance: 100

[tmc2209 extruder]
uart_pin: PC11
microsteps: 16
#  Rsense for tmc2209 = 0.11 Ohm
# VREF = (rated_amps * 8 * Rsense) * safety_margin(.90)
#  = ((1.0) * 8 * (.11)) 
#  = .88 * (.90)
#  = .792
run_current: 0.8
hold_current: 0.500
# default ender 3  extruder stepper:
# run_current: 0.650
stealthchop_threshold: 5


[safe_z_home]
home_xy_position: 155,140
speed: 75
z_hop: 10
z_hop_speed: 10

[bltouch]
sensor_pin: ^PC14#  ^PC2 ;mine uses the Z pin for sensor
#z_offset = 1.660
# too high
#z_offset = 1.250
z_offset = 1.100
control_pin: PA1
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True  
x_offset: -45
y_offset: -15
pin_move_time: 0.4

[bed_mesh]
speed: 75
horizontal_move_z: 10.0
probe_count: 4,4
fade_start: 1.0
mesh_pps: 2,2
mesh_min: 20,20
mesh_max: 195,210

#[neopixel my_neopixel]
#pin: PC7
#chain_count: 7
#color_order_GRB: True
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 1.0

[gcode_macro ABL75]
gcode:
    M140 S75
    G28
    BED_MESH_CALIBRATE

[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    #SAVE_CONFIG
    #G1 X0 Y0 Z4 F4000


[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 130

[verify_heater extruder]
heating_gain: 2
check_gain_time: 25
hysteresis: 7.5
max_error: 240

[fan]
pin: PA8

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

#[gcode_macro M105]
#rename_existing:            M105.1
#gcode:  #
#M105.1
#
##if the extruder is off
#{% if printer.extruder.target == 0 %}#
    ##Set the LED to red if the extruder is off but is still hot, otherwise 
    ## set the color to green
    #{% if printer.extruder.temperature > 60.0 %}
        #SET_LED LED=temp_leds RED=1 GREEN=0 BLUE=0 INDEX=0  TRANSMIT=1
    #{% else %}
        #SET_LED LED=temp_leds RED=0 GREEN=1 BLUE=0 INDEX=0  TRANSMIT=1
    #{% endif %}     
#{% else %}
        ##if the extruder temp is at target temperature 
        #{% if printer.extruder.temperature >= printer.extruder.target - 4.0 %}
        #SET_LED LED=temp_leds RED=1 GREEN=0 BLUE=0 INDEX=0  TRANSMIT=1
        ##if the extruder is still heating
        #{% else %}
        #{% set scaler = printer.extruder.temperature|float / printer.extruder.target|float %}
        #SET_LED LED=temp_leds RED={ scaler|float * 1 } GREEN=0 BLUE=0 INDEX=0  TRANSMIT=1
        #{% endif %}  
#{% endif %}#

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.250
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.902500, -0.787500, -0.675000, -0.582500, -0.482500
#*# 	-0.575000, -0.485000, -0.377500, -0.280000, -0.170000
#*# 	-0.290000, -0.195000, -0.077500, 0.042500, 0.177500
#*# 	-0.072500, 0.042500, 0.197500, 0.342500, 0.515000
#*# 	0.077500, 0.255000, 0.465000, 0.665000, 0.882500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.00000000008
#*# max_x = 195.0
#*# min_y = 25.0000000001
#*# max_y = 210.0
#*#
#*# [stepper_z]
#*# position_endstop = 0.650
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.763
#*# pid_ki = 1.780
#*# pid_kd = 625.906
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.484
#*# pid_ki = 1.473
#*# pid_kd = 157.753
